/* 轮播图 */
swiper {
	height: 250rpx;
	padding: 15rpx 0;

	swiper-item {
		overflow: hidden;
	}

	.swiper-item {
		padding: 0 15rpx;
	}

	.swiper-item,
	image {
		border-radius: 30rpx;
		width: 100%;
		height: 100%;
	}

	/* 修改dot形状 使用uni-不生效*/
	 .uni-swiper-dot,.wx-swiper-dot {
		width: 24rpx;
		height: 6rpx;
		border-radius: 3rpx;
		background-color: #b4b4b4;
	}
	
	.uni-swiper-dot-active,.wx-swiper-dot-active {
		background-color: #fff;
	}
}