/* 轮播图 */
swiper {
	height: 250rpx;
	
	swiper-item {
		overflow: hidden;
	}
	.swiper-item,
	image {
		width: 100%;
		height: 100%;
	}

	/* 修改dot形状 使用uni-不生效*/
	 .uni-swiper-dot,.wx-swiper-dot {
		width: 24rpx;
		height: 6rpx;
		border-radius: 3rpx;
		background-color: #b4b4b4;
	}
	
	.uni-swiper-dot-active,.wx-swiper-dot-active {
		background-color: #fff;
	}
}

.search-box {
	// 设置定位效果为“吸顶” 
	position: sticky;
	// 吸顶的“位置” 
	top: 0;
	// 提高层级，防止被轮播图覆盖 
	z-index: 999;
}